h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 92130085
        strong 290801022-03: 
        | Realizar proceso de transformación de productos derivados de frutas y hortalizas. 