#page-main-header.page-header.theme-light.mb-5

    .container

        .row.align-items-center

            .col-12.col-lg-6

                h3#curso-titulo-componente.curso-subtitulo(style="color:#18445A") Procesamiento de frutas y verduras
                h1#curso-titulo-tema.curso-titulo(style="color:#18445A") Elaboración de productos derivados de frutas y hortalizas

                .brand-line-primary


                p(style="color:#18445A") Hace referencia a  la información de uso educativo del recurso, en cuanto  a la intencionalidad educativa o meta a alcanzar a través del contenido del recurso.

                .barra-dots.mt-5
                    img.img-fluid(src='assets/images/header/icon_dots.svg', alt='alt')



            .col-12.col-lg-6
                .d-none.d-lg-block
                    img(src="assets/images/header/header_media.svg" style="max-width: 80%;")
