h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducci칩n', 'main.html#page/introducci칩n/')
                    +navTemaItem('1', 'Elaboraci칩n de productos derivados de frutas y hortalizas', 'main.html#page/elaboracion_de_productos_derivados_de_frutas_y_hortalizas/')
                    +navTemaItem('question', 'Actividad did치ctica', 'main.html#page/actividad-1')                                                                                               