include ../mixins/functions

+pageHeader('Productos derivados de frutas y hortalizas', 'assets/images/header/header_media.svg')
#definicion

.container
    .header-ecored
        h1 Introducción

        .brand-line-primary
    img.img-a.mt-2(src="assets/images/pages/ilustraciones/intro_img.png").img-fluid

    p.mt-5 La elaboración de productos derivados de frutas y hortalizas comprende la aplicación de diferentes técnicas de conservación que tienen como fin mantener y mejorar las características de estos productos durante un tiempo más largo de almacenamiento que en su estado fresco. Dichas técnicas requieren ciertas condiciones y equipos especiales para que logren el resultado esperado, que dependen de la fruta u hortaliza a procesar.

    P Esta actividad de aprendizaje trata sobre los procesos que se llevan a cabo para elaborar derivados de frutas y hortalizas, especificando cada etapa en particular, condiciones y equipos requeridos
