.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody


            tr
                td 
                    strong Prodar, IICA, FAO. (s.f.). Fichas Técnicas, Productos frescos de frutas. 
                td MANUAL
                td 
                    a(href="http://www.fao.org/3/a-au173s.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td
                    strong SENATV. (2012). Conserva de frutas. 
                td Video
                td 
                    a(href="https://www.youtube.com/watch?v=A0uMyQG-ZSk&t=9s", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver
