.container

  ol

    li
      p 
        | Arthey D. & Ashurst P.R. (1997). 
        i Procesado de frutas. 
        | Zaragoza: Acribia S.A
        
    li
      p 
        | Bosquez E. y Colina M. (2012). 
        i Procesamiento térmico de frutas y hortalizas. 
        | México: Trillas.

    li
      p 
        | De Michelis A. (2006). 
        i Elaboración y conservación de frutas y hortalizas: procedimientos para el hogar y para pequeños emprendimientos comerciales. 
        | Buenos Aires: Hemisferio Sur S.A.

    li
      p 
        | FAO y INPhO. (1998). 
        i Procesamiento a pequeña escala de frutas y hortalizas amazónicas nativas e introducidas. 
        | Roma, Italia. Recuperado de: 
        a(href="http://www.fao.org/docrep/x5029s/X5029S00.htm#Contents", target="_blank") http://www.fao.org/docrep/x5029s/X5029S00.htm#Contents

    li
      p 
        | Meyer M. & Paltrinieri G. (2010). 
        i Elaboración de frutas y hortalizas. 
        | México: Trillas.

    li
      p 
        | Molina S. (2010). 
        i Estudio para el mejoramiento del proceso de producción de mermelada de piña en una empresa agroindustrial, a través de alternativas de producción más limpia. 
        | (Tesis de pregrado). Escuela Politécnica Nacional. Quito. Recuperado de: 
        a(href="http://bibdigital.epn.edu.ec/bitstream/15000/2604/1/CD-3279.pdf", target="_blank") http://bibdigital.epn.edu.ec/bitstream/15000/2604/1/CD-3279.pdf

    li
      p 
        | Prodar, IICA, FAO. (s.f.). 
        i Fichas Técnicas, Procesados de Frutas. 
        | Recuperado de: 
        a(href="http://www.fao.org/3/a-au168s.pdf", target="_blank") http://www.fao.org/3/a-au168s.pdf

    li
      p 
        | Prodar, IICA, FAO. (s.f.). 
        i Fichas Técnicas, Productos frescos de frutas. 
        | Recuperado de: 
        a(href="http://www.fao.org/3/a-au173s.pdf", target="_blank") http://www.fao.org/3/a-au173s.pdf

    li
      p 
        | Resolución 3929 del 2013. 
        i Por la cual se establece el reglamento técnico sobre los requisitos sanitarios que deben cumplir las frutas y las bebidas con adición de jugo (zumo) o pulpa de fruta o concentrados de fruta, clarificados o no, o la mezcla de estos que se procesen, empaquen, transporten, importen y comercialicen en el territorio nacional.  Ministerio de Salud y Protección Social. 
        | Recuperado de: 
        a(href="https://normograma.info/invima/docs/resolucion_minsaludps_3929_2013.html", target="_blank") https://normograma.info/invima/docs/resolucion_minsaludps_3929_2013.html

    li
      p 
        | Resolución 2195 del 2010. 
        i Por la cual se establece el reglamento técnico sobre los requisitos que se deben cumplir durante el proceso térmico de alimentos envasados herméticamente de baja acidez y acidificados, que se fabriquen, transporten, expendan, distribuyan, importen, exporten y comercialicen para el consumo humano.  Ministerio de Salud y Protección Social. 
        | Recuperado de: 
        a(href="https://normograma.info/invima/docs/resolucion_minproteccion_2195_2010.htm?q=2195", target="_blank") https://normograma.info/invima/docs/resolucion_minproteccion_2195_2010.htm?q=2195

    li
      p 
        | Resolución 2155 del 2012. 
        i Por la cual se establece el reglamento técnico sobre los requisitos sanitarios que deben cumplir las hortalizas que se procesen, empaquen, transporten, importen y comercialicen en el territorio nacional. 
        | Ministerio de Salud y Protección Social. Recuperado de: 
        a(href="https://normograma.info/invima/docs/resolucion_minsaludps_2155_2012.html", target="_blank") https://normograma.info/invima/docs/resolucion_minsaludps_2155_2012.html

    li
      p 
        | SENATV. (2012, Junio 5). 
        i Conserva de frutas. [Archivo de video]. 
        | Recuperado de: 
        a(href="https://www.youtube.com/watch?v=A0uMyQG-ZSk&t=9s", target="_blank") https://www.youtube.com/watch?v=A0uMyQG-ZSk&t=9s