//Colores base del material de formación
$brand-color-dark: #FFE37B;
$text-color-dark: #18445A;

//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: white;
$text-color-light: #18445A;
$brand-color-secondary: #E6E5E7;